@import url("https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&family=Gantari:wght@200;400;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html {
  scroll-behavior: smooth;
}
body, h1, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 60);
}
main {
  font-family: Gantari, sans-serif;
  color: #f5f5f5;
}
h1 {
  font-weight: 200;
  font-size: 48px;
}
@media screen and (min-width: 480px) {
  h1 {
    font-size: 54px;
  }
}
@media screen and (min-width: 760px) {
  h1 {
    font-size: 66px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 76px;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 96px;
  }
}
h2 {
  font-weight: 200;
  font-size: 38px;
}
@media screen and (min-width: 480px) {
  h2 {
    font-size: 44px;
  }
}
@media screen and (min-width: 760px) {
  h2 {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 56px;
  }
}
@media screen and (min-width: 1440px) {
  h2 {
    font-size: 60px;
  }
}
h3 {
  font-weight: 200;
  font-size: 32px;
  margin-top: 1rem;
}
h4 {
  font-weight: 200;
  font-size: 24px;
}
.body-text {
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  .body-text {
    font-size: 17px;
  }
}
@media screen and (min-width: 760px) {
  .body-text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .body-text {
    font-size: 20px;
  }
}
.link {
  font-size: 16px;
  text-decoration: none;
  color: #ffbc7c;
}
@media screen and (min-width: 480px) {
  .link {
    font-size: 17px;
  }
}
@media screen and (min-width: 760px) {
  .link {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .link {
    font-size: 20px;
  }
}
.link:hover {
  text-decoration: underline;
}